@model List<Transit>
@{
    string username = "unknown";
    if (ViewData["currentUser"].ToString() != "")
    {
        username = ViewData["currentUser"].ToString();
    }
    else
    {
        username = "unknown user";
    }
}
<p class="currentUser">Welcome @username !</p>
<h2>Questions</h2>
<hr class="thickhr" />
<br />
<form method="post" asp-controller="Questions" asp-action="ShowQWithSelect">
    <input type="text" id="wordSearch" name="wordToSearch" size="30" style="margin-bottom: 7px;" />
    <label for="fromTime"> date: </label>
    <input type="text" id="fromTime" name="fromTimeToSearch" size="7" maxlength="10" value="1900.01.01" />
    <label for="toTime"> - </label>
    <input type="text" id="toTimeSearch" name="toTimeToSearch" size="7" maxlength="10" value="2100.01.01" />
    <label for="voteSearch"> min. votes: </label>
    <input type="text" id="voteSearch" name="fromVoteSearch" size="3" value="0" />
    <input type="submit" value="search" />
</form>
<br />
<hr />
<br />
<form method="post" asp-controller="Questions" asp-action="ShowQLatestSelect">
    <input type="submit" value="show" />
    <label for="lastLimit">the latest </label>
    <input class="input-2digit" type="text" id="lastLimit" name="latestX" value="5" />

</form>
<br>
@{ if (Model.Count != 0)
    {
        <table class="tablazat">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Votes</th>
                <th>Views</th>
                <th>Created</th>
            </tr>
            @{
                foreach (Transit item in Model)
                {
                    <tr>
                        <td>@item.Qid</td>
                        <td><a asp-controller="Questions" asp-action="ShowQe" asp-route-qid=@(item.Qid)>@item.Qtitle</a></td>
                        <td>@item.Qvote</td>
                        <td>@item.Qview</td>
                        <td>@item.QsubmissionTime</td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <p>There are no questions!</p>
    }
    <br />
    <hr />
    <br />
    <p>If you want to add a new questions, answers or comments you have to <a asp-controller="Account" asp-action="Login">LOG IN</a> first!</p>

}



