@model QAC
@{
    ViewData["Title"] = "user";
}

@{
    string username = "unknown";
    if (ViewData["currentUser"].ToString() != "")
    {
        username = ViewData["currentUser"].ToString();
    }
    else
    {
        username = "unknown user";
    }
}
<p class="currentUser">Welcome @username !</p>
<h1 class="H1center">Your activity</h1>

<h4>questions</h4>
<table class="tablazat">
    <thead>
        <tr>
            <th>Question title</th>
            <th>Submission time</th>
            <th>Votes</th>
            <th>View number</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (QuestionModel question in Model.qModelList)
            {
                <tr>
                    <td>@question.Qtitle</td>
                    <td>@question.QsubmissionTime</td>
                    <td>@question.Qvote</td>
                    <td>@question.Qview</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<hr />
<br />
<h4>answers</h4>
<table class="tablazat">
    <thead>
        <tr>
            <th>Answer id</th>
            <th>Submission time</th>
            <th>Votes</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (AnswerModel answer in Model.aModelList)
            {
                <tr>
                    <td>@answer.Aid</td>
                    <td>@answer.AsubmissionTime</td>
                    <td>@answer.Avote</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<hr />
<br />
<h4>comments</h4>
<table class="tablazat">
    <thead>
        <tr>
            <th>Comment id</th>
            <th>Submission time</th>
            <th>Edit number</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (CommentModel comment in Model.cModelList)
            {
                <tr>
                    <td>@comment.Cid</td>
                    <td>@comment.CsubmissionTime</td>
                    <td>@comment.CeditNr</td>
                </tr>
            }
        }
    </tbody>
</table>
